<mat-card>
    <mat-card-header class="justify-content-center">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>DIRECCIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>ESTADO: {{estado}}</p>
        <p>MUNICIPIO: {{municipio}}</p>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-raised-button color="warn" (click)="cerrar()">CERRAR</button>
      </mat-card-actions>
</mat-card>

