mat-form-field {
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  
  table td.mat-cell {
    font-size: 0.8em !important;
  }
  
  // .contenido,
  // .contenido2 {
    // margin: 0 auto;
  // }
  
  .contenido2 table {
    text-align: center;
  }
  
  .footer {
    width: 100%;
  }
  
  .btn-cancelar {
    font-size: 0.8em;
  }
  