<app-loading *ngIf="loading"></app-loading>
<ng-container #validar *ngIf="estudioValid != '1' && datosSolicitud">
    <app-solicitar-estudio-shared [dataEstudio]="datosSolicitud" [bSolicCancel]="bSolicCancel" [regresar]="'ejecutivo/estudios'"></app-solicitar-estudio-shared>
</ng-container>

<ng-container #detalle *ngIf="estudioValid == '1' && datosSolicitud.bDeclinada == '0'">

    <app-title regresar="true" titulo="DETALLE DE ESTUDIO" ruta="/ejecutivo/estudios"></app-title>

    <!-- <button class="align-self-center" mat-raised-button color="warn">REGRESAR</button> -->

    <div class="container justify-content-start mb-5" [formGroup]="form">

        <!-- ALERTS -->
        <div class="alert alert-danger" role="alert" *ngIf="estatusGeneral == '4'">La solicitud ha sido cancelada</div>
        <!-- ...  -->

        <button class="mt-3 mb-3 ml-3 btn-cancelar" *ngIf="bSolicCancel != 1" mat-raised-button color="warn" (click)="solicitarCancelacionEjecutivo()">
            SOLICITAR CANCELACIÓN
        </button>
        <div class="contenido col-12 row justify-content-start align-items-baseline">

            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Folio" formControlName="sFolio">
                </mat-form-field>
            </div>

            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field class="mt-4">
                    <mat-label>Estatus Dictamen</mat-label>
                    <mat-select [formControl]="controlEstatusDictamen">
                      <mat-option *ngFor="let dictamen of catSelectDisctamen" [value]="dictamen.id">
                        {{dictamen.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field class="mt-4">
                    <mat-label>Analista</mat-label>
                    <mat-select formControlName="iIdAnalista">
                      <mat-option *ngFor="let a of catAnalistas" [value]="a.iIdEmpleado">
                        {{a.sNombres + ' ' + a.sApellidos}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre" formControlName="sNombres">
                </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Apellidos" formControlName="sApellidos">
                </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Puesto" formControlName="sPuesto">
                </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Teléfono" formControlName="sTelefono">
                </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field>
                    <input type="number" matInput placeholder="NSS" formControlName="sNss">
                </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="CURP" formControlName="sCurp">
                </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Comentarios" formControlName="sComentarios">
                </mat-form-field>
            </div>

            <!-- container show/hide -->
            <ng-container *ngIf="mostrarEstudiosCompletos">
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Calle y número" formControlName="sCalleNumero">
                    </mat-form-field>
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Colonia" formControlName="sColonia">
                    </mat-form-field>
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                    <mat-form-field>
                        <input type="text" matInput placeholder="CP" formControlName="sCp">
                    </mat-form-field>
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Alcaldía / Municipio" formControlName="sMunicipio">
                    </mat-form-field>
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Estado" formControlName="sEstado">
                    </mat-form-field>
                </div>
            </ng-container>

            <div class="form-group col-lg-8 col-sm-12 col-xs-12">
                <mat-form-field>
                    <mat-label>Tipo de estudio</mat-label>
                    <mat-select formControlName="iIdEstudio">
                        <mat-option *ngFor="let estudios of catEstudios" [value]="estudios.iIdEstudio">
                            {{estudios.sNombreEstudio}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- CANCELACION -->
            <ng-container *ngIf="bSolicCancel == 1">
                <div class="form-group col-5">
                    <mat-form-field>
                        <mat-label>Comentario de cancelación</mat-label>
                        <textarea matInput cdkTextareaAutosize [formControl]="controlComentarioCancel"></textarea>
                    </mat-form-field>
                </div>
                <div class="form-group col-4">
                    <button mat-stroked-button color="warn" (click)="descargarEvidencia()">Descargar evidencia de cancelación</button>
                </div>
                <div class="form-group col-3">
                    <button mat-raised-button color="warn" *ngIf="estatusGeneral != '4'" (click)="aprobarCancel()">Aprobar cancelación</button>
                </div>
            </ng-container>

            <div class="form-group col-lg-2 col-sm-2 col-xs-2" *ngIf="datosSolicitud">
                <mat-icon color="primary" *ngIf="datosSolicitud.bSolicitarCalidad == 2">verified_user</mat-icon>
            </div>
        </div>

        <div class="contenido row col-12">

            <app-tabla-estatus *ngIf="dataTablaEstatus.length > 0" [data]="dataTablaEstatus" [tipoEstudio]="tipoEstudio" [columnas]="columnasTablaEstatus"></app-tabla-estatus>

            <div class="contenido2 col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="datosSolicitud.iPublicarPreliminar >= 2">
                <app-tabla-general [titulo]="'PRELIMINAR'" (update)="update($event)" [data]="datosPreliminar" [idSolicitud]="idSolicitud" [idTipoEstudio]="1" [publicado]="bPreliminar"
                    [columns]="columnsPreliminar"></app-tabla-general>
            </div>
            <div class="contenido2 col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="datosSolicitud.bPublicarDictamen >= 2">
                <app-tabla-general [titulo]="'Estudio socieconómico'" (update)="update($event)" [data]="datosEstudios" [idSolicitud]="idSolicitud" [idTipoEstudio]="2" [publicado]="bDictamen"
                    [columns]="columnsEstudios"></app-tabla-general>
            </div>
            <div class="contenido2 col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="datosSolicitud.iEstatusComplemento >= 2">
                <app-tabla-general [titulo]="'complemento'" (update)="update($event)" [data]="datosComplemento" [columns]="columnsComplemento" [idSolicitud]="idSolicitud" [idTipoEstudio]="3" [publicado]="bComplemento">
                </app-tabla-general>
            </div>


            <!-- table -->
            <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-5">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="proceso">
                        <th mat-header-cell *matHeaderCellDef> PROCESO </th>
                        <td mat-cell *matCellDef="let element"> {{element.proceso}} </td>
                    </ng-container>


                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> FECHA </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                    </ng-container>


                    <ng-container matColumnDef="hora">
                        <th mat-header-cell *matHeaderCellDef> HORA </th>
                        <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                    </ng-container>


                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> STATUS </th>
                        <td mat-cell *matCellDef="let element"> {{checkEstatus(element.status, element.id)}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div> -->

            <!-- <div class="contenido2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <app-tabla-general [titulo]="'preliminar'" [columns]="columnsPreliminar"></app-tabla-general>
        </div> -->

        </div>


    </div>
</ng-container>