.root {
    width: 100%;
    height: 100%;
    .left {
        width: 50%;
    }
    background-image: url('../../../assets/images/logo-talenti.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.left img {
    height: 100%;
}

.container p {
    font-size: 2.5em;
    font-weight: 300;
    color: #000;
}