.titulo {
    margin: 4% 0;        
    span {
        font-size: 1.5em;
        font-weight: 500;
    }
}

mat-icon {
    font-size: 2.5em;
    height: 100%;
    margin-right: 8px;
}

.icon span {
    font-size: 1em;
    transition: all 0.5s;
}

.icon span:hover {
    text-decoration: underline;
}

.regresar {
    cursor: pointer;
}
