<div class="container text-center d-flex align-items-center">

    <div class="box mt-5">
        <h3 class="mb-5">EJECUTIVO</h3>
        <div class="div d-flex flex-column">
            <button mat-raised-button color="primary" [routerLink]="['/ejecutivo/solicitar-estudio']">SOLICITAR ESTUDIO</button>
            <button mat-raised-button color="primary" [routerLink]="['/ejecutivo/validar-estudios']">VALIAR ESTUDIOS</button>
            <button mat-raised-button color="primary" [routerLink]="['/ejecutivo/publicar-estudios']">PUBLICAR ESTUDIOS</button>
            <button mat-raised-button color="primary" [routerLink]="['/ejecutivo/cancelar-estudios']">CANCELAR ESTUDIOS</button>
            <button mat-raised-button color="primary" [routerLink]="['/ejecutivo/solicitar-calidad']">SOLICITAR CALIDAD</button>
        </div>
    </div>

</div>