<app-loading *ngIf="loading"></app-loading>



<app-title titulo="SOLICITUD ESTUDIO"></app-title>

<div class="container" *ngIf="esCliente">
    <p>Importar estudios</p>
    <input type="file" name="estudios" (change)="importExcel($event)">

    <button mat-button [disabled]="dataExcel.length <= 0" (click)="uploadExcel()">Subir</button>
</div>

<div class="container-full">

    
    
    <form [formGroup]="form">
        <div class="alert alert-danger alert mb-4" role="alert" *ngIf="estatusGeneral == '4'"> La solicitud ha sido cancelada</div>
        <ng-container *ngIf="dataEstudio">
            <div class="alert alert-danger alert mb-4" role="alert" *ngIf="dataEstudio.bDeclinada == '1' && estatusGeneral != '4'"> La solicitud ha sido declinada</div>
        </ng-container>
        
        
        <div class="box-container row d-flex justify-content-center">

            <div class="left col-5">
                <p>Datos del estudio:</p>

                <div class="form-group" *ngIf="!esCliente">
                    <mat-form-field>
                        <mat-label>Empresa</mat-label>
                        <mat-select [formControl]="controlEmpresa" (selectionChange)="selectEmpresa($event)">
                            <mat-option *ngFor="let emp of catEmpresas" [value]="emp.iIdEmpresa">
                                {{emp.sNombreEmpresa}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group" *ngIf="!esCliente">
                    <mat-form-field>
                        <mat-label>Cliente</mat-label>
                        <mat-select [formControl]="controlCliente">
                            <mat-option *ngFor="let a of catClientes" [value]="a">
                                {{a.sNombres + ' ' + a.sApellidos}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Tipo de estudio</mat-label>
                        <mat-select formControlName="iIdEstudio">
                            <mat-option *ngFor="let estudio of estudiosData" [value]="estudio.iIdEstudio">
                                {{estudio.sNombreEstudio}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Mostrar solo gnp -->
                <div class="form-group" *ngIf="bTipoFolio == 'e'">
                    <mat-form-field>
                        <mat-label>Folio</mat-label>
                        <input matInput type="text" formControlName="sFolio" />
                    </mat-form-field>
                </div>
                <div class="form-group" *ngIf="!esCliente">
                    <label class="mr-3">Preliminar:</label>
                    <mat-radio-group color="primary" aria-label="Preliminar" formControlName="iPublicarPreliminar">
                        <mat-radio-button class="mr-3" *ngFor="let p of preliminarList" [value]="p.value">
                            {{p.nombre}}
                        </mat-radio-button>
                        
                    </mat-radio-group>
                </div>
                <!-- Mostrar solo al validar estudios -->
                
                <div class="form-group" *ngIf="!esCliente">
                    <mat-form-field>
                        <mat-label>Analista</mat-label>
                        <mat-select formControlName="iIdAnalista">
                            <mat-option *ngFor="let a of catAnalistas" [value]="a.iIdEmpleado">
                                {{a.sNombres + ' ' + a.sApellidos}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Comentarios</mat-label>
                        <textarea matInput cdkTextareaAutosize formControlName="sComentarios"></textarea>
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="!esCliente && dataEstudio">
                    <button color="primary" mat-raised-button (click)="descargarCV()">
                        <mat-icon class="mr-2">cloud_download</mat-icon>
                        <span>Descargar CV</span>
                    </button>
                </div>

                <div class="custom-file" *ngIf="!dataEstudio">
                    <input type="file" class="custom-file-input" id="customFileLang" (change)="getDataArchivo($event)" lang="es" [formControl]="controlCV">
                    <label class="custom-file-label" #label for="customFileLang">Subir CV</label>
                </div>

                <!-- CANCELACION -->
                <ng-container *ngIf="bSolicCancel == 1">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Comentario de cancelación</mat-label>
                            <textarea matInput cdkTextareaAutosize [formControl]="controlComentarioCancel"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <button mat-stroked-button color="warn" (click)="descargarEvidencia()">Descargar evidencia de cancelación</button>
                    </div>
                    <div class="form-group">
                        <button mat-raised-button color="warn" *ngIf="estatusGeneral != '4'" (click)="aprobarCancel()">Aprobar cancelación</button>
                    </div>
                </ng-container>
                <!-- <div class="form-group mt-3" *ngIf="form.get('sTokenCV').value !== null">
                    <button mat-raised-button color="primary" (click)="descargarCV()">Descargar CV</button>
                </div> -->

            </div>

            <div class="right col-5">
                <p>Datos para el estudio:</p>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Nombres</mat-label>
                        <input matInput type="text" formControlName="sNombres">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Apellidos</mat-label>
                        <input matInput type="text" formControlName="sApellidos">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Puesto</mat-label>
                        <input matInput type="text" formControlName="sPuesto">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Teléfono</mat-label>
                        <input matInput type="text" formControlName="sTelefono">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>NSS</mat-label>
                        <input matInput type="text" formControlName="sNss">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>CURP</mat-label>
                        <input matInput type="text" formControlName="sCurp">
                    </mat-form-field>
                </div>
                <!-- container show/hide -->
                <div *ngIf="mostrarEstudiosCompletos">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>CP</mat-label>
                            <input matInput type="text" formControlName="sCp">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <!-- <input matInput type="text" formControlName="sEstado"> -->
                            <mat-select formControlName="sEstado">
                                <mat-option *ngFor="let estado of estados" [value]="estado.estado">
                                    {{estado.estado}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Alcaldía / Municipio</mat-label>
                            <!-- <input matInput type="text" formControlName="sMunicipio"> -->
                            <mat-select formControlName="sMunicipio">
                                <mat-option *ngFor="let m of municipios" [value]="m.municipio">
                                    {{m.municipio}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Colonia</mat-label>
                            <!-- <input matInput type="text" formControlName="sColonia"> -->
                            <mat-select formControlName="sColonia">
                                <mat-option *ngFor="let c of colonias" [value]="c.colonia">
                                    {{c.colonia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Calle y número</mat-label>
                            <input matInput type="text" formControlName="sCalleNumero">
                        </mat-form-field>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="actions d-flex justify-content-center mt-3" *ngIf="!analista && dataEstudio.bDeclinada != '1'">
            <div class="buttons d-flex flex-column col-3">
                <ng-container *ngIf="!esCliente">
                    <button mat-raised-button color="primary" #btnSolicitar (click)="enviar('crearValidar')" *ngIf="!dataEstudio">CREAR</button>
                    <button mat-raised-button color="primary" #btnSolicitar (click)="enviar('validar')" *ngIf="dataEstudio && estatusGeneral != '4'">VALIDAR</button>
                    <button mat-raised-button color="warn" (click)="declinarSolicitud()" *ngIf="dataEstudio && estatusGeneral != '4'">DECLINAR</button>
                    <button mat-raised-button color="warn" (click)="regresarFunc()" >REGRESAR</button>
                </ng-container>
                
                <ng-container *ngIf="esCliente">
                    <button mat-raised-button color="primary" #btnSolicitar (click)="enviar('solicitar')">SOLICITAR</button>
                    <button mat-raised-button color="warn" (click)="regresarFunc()" >REGRESAR</button>
                </ng-container>
            </div>
        </div>

        <div class="actions d-flex justify-content-center mt-3 mb-3" *ngIf="!analista && dataEstudio.bDeclinada == '1'">
            <div class="buttons d-flex flex-column col-3">
                <ng-container>
                    <button mat-raised-button color="warn" (click)="regresarFunc()" >REGRESAR</button>
                </ng-container>
            </div>
        </div>

    </form>

</div>