<app-title titulo="SOLICITUD ESTUDIO"></app-title>
<div class="container">

    <form [formGroup]="form">

        <div class="box-container row d-flex justify-content-center">
            <div class="left col-5">
                <p>Tipo de estudio:</p>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Tipo de estudio</mat-label>
                        <mat-select formControlName="iIdEstudio">
                            <mat-option *ngFor="let estudio of estudiosData" [value]="estudio.iIdEstudio">
                                {{estudio.sNombreEstudio}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Mostrar solo gnp -->
                <div class="form-group" *ngIf="!esGNP">
                    <mat-form-field>
                        <mat-label>Folio</mat-label>
                        <input matInput type="text" formControlName="sFolio" />
                    </mat-form-field>
                </div>
                <div class="form-group" *ngIf="!esCliente">
                    <label class="mr-3">Preliminar:</label>
                    <mat-radio-group color="primary" aria-label="Preliminar" formControlName="bPreliminar">
                        <mat-radio-button class="mr-3" *ngFor="let p of preliminarList" [value]="p.value">
                            {{p.nombre}}
                        </mat-radio-button>
                        
                    </mat-radio-group>
                </div>
                <!-- Mostrar solo al validar estudios -->
                <div class="form-group" *ngIf="!esCliente">
                    <mat-form-field>
                        <mat-label>Analista</mat-label>
                        <mat-select formControlName="analista">
                            <mat-option *ngFor="let a of catAnalistas" [value]="a.iIdEmpleado">
                                {{a.sNombres + ' ' + a.sApellidos}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Comentarios</mat-label>
                        <textarea matInput cdkTextareaAutosize formControlName="sComentarios"></textarea>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label>Adjuntar CV</label>
                    <input type="file" placeholder="Examinar" formControlName="sTokenCV" />
                </div>

            </div>

            <div class="right col-5">
                <p>Datos para el estudio:</p>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Nombres</mat-label>
                        <input matInput type="text" formControlName="sNombres">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Apellidos</mat-label>
                        <input matInput type="text" formControlName="sApellidos">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Puesto</mat-label>
                        <input matInput type="text" formControlName="sPuesto">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Teléfono</mat-label>
                        <input matInput type="text" formControlName="sTelefono">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>NSS</mat-label>
                        <input matInput type="text" formControlName="sNss">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>CURP</mat-label>
                        <input matInput type="text" formControlName="sCurp">
                    </mat-form-field>
                </div>
                <!-- container show/hide -->
                <div *ngIf="form.get('iIdEstudio').value === (1 || 3 || 4 || 5 || 7 || 10 || 11 || 12) ">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Calle y número</mat-label>
                            <input matInput type="text" formControlName="sCalleNumero">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Colonia</mat-label>
                            <input matInput type="text" formControlName="sColonia">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>CP</mat-label>
                            <input matInput type="text" formControlName="sCp">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Alcaldía / Municipio</mat-label>
                            <input matInput type="text" formControlName="sMunicipio">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <input matInput type="text" formControlName="sEstado">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions d-flex justify-content-center" *ngIf="!analista">
            <div class="buttons d-flex flex-column col-3">
                <ng-container *ngIf="!esCliente">
                    <button mat-raised-button color="primary" (click)="enviar('crearValidar')" *ngIf="!dataEstudio">CREAR</button>
                    <button mat-raised-button color="primary" (click)="enviar('validar')" *ngIf="dataEstudio">VALIDAR</button>
                    <button mat-raised-button color="warn" (click)="regresarFunc()" *ngIf="dataEstudio">DECLINAR</button>
                    <button mat-raised-button color="warn" (click)="regresarFunc()" >REGRESAR</button>
                </ng-container>
                
                <ng-container *ngIf="esCliente">
                    <button mat-raised-button color="primary" (click)="enviar('solicitar')">SOLICITAR</button>
                    <button mat-raised-button color="warn" (click)="regresarFunc()" >REGRESAR</button>
                </ng-container>
            </div>
        </div>

    </form>

</div>