<app-title titulo="ESTUDIOS"></app-title>
<div class="container">
    <div class="header">
        <form [formGroup]="form">
            <span>Búsqueda por periodo</span>
            <div class="row col-12">

                <!-- Fecha inicio -->
                <div class="form-group col-3">
                    <mat-form-field>
                        <input matInput #fechaI disabled [matDatepicker]="fechaInicio" formControlName="fechaInicioForm"
                            placeholder="Fecha de inicio">
                        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                        <mat-datepicker #fechaInicio disabled="false" startView="year"></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Fecha termino -->
                <div class="form-group col-3">
                    <mat-form-field>
                        <input matInput #fechaF disabled [matDatepicker]="fechaFinal"
                            [min]="form.get('fechaInicioForm').value" formControlName="fechaFinalForm"
                            placeholder="Fecha de termino">
                        <mat-datepicker-toggle matSuffix [for]="fechaFinal"></mat-datepicker-toggle>
                        <mat-datepicker startView="year" #fechaFinal
                            [disabled]="form.get('fechaInicioForm').value === ''">
                        </mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-group row col-3">
                    <button mat-icon-button color="primary" (click)="filterFechas()" class="find">
                        <mat-icon>find_in_page</mat-icon>
                    </button>
                    <button mat-icon-button (click)="clear()" class="ml-2">
                        <mat-icon color="warn">replay</mat-icon>
                    </button>
                </div>
            </div>

            <div class="row col-12">
                <!-- nombre encuestado -->
                <div class="form-group col-4">
                    <mat-form-field class="nombre-encuestado">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                    </mat-form-field>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="mb-5">
    <!-- TABLA -->
    <div class="table-container mat-elevation-z15 mt-4">

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="folio">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> FOLIO </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                    {{element.sFolio ? element.sFolio : element.iIdSolicitud}} 
                </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> NOMBRE DEL CANDIDATO </th>
                <td mat-cell *matCellDef="let element">
                    {{element.sNombres}} {{element.sApellidos}}
                </td>
            </ng-container>

            <ng-container matColumnDef="sNombrecl">
                <th mat-header-cell *matHeaderCellDef> CLIENTE </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.sNombrecl }}
                </td>
            </ng-container>

            <ng-container matColumnDef="sNombreEjec">
                <th mat-header-cell *matHeaderCellDef> EJECUTIVO</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.sNombreEjec }}
                </td>
            </ng-container>

            <ng-container matColumnDef="sNombreAnalista">
                <th mat-header-cell *matHeaderCellDef> ANALISTA</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.sNombreAnalista }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fecha_solicitud">
                <th mat-header-cell *matHeaderCellDef> FECHA SOLICITUD </th>
                <td mat-cell *matCellDef="let element"> {{ element.dFechaSolicitud ? (element.dFechaSolicitud | date: 'dd/MMM/yyyy') : 'Pendiente'}} </td>
            </ng-container>

            <ng-container matColumnDef="estatus_agenda">
                <th mat-header-cell *matHeaderCellDef> ESTATUS AGENDA </th>
                <td mat-cell *matCellDef="let element"> {{element.dfechahoraultAgenda ? (element.dfechahoraultAgenda | date: 'dd/MMM/yyyy') : 'Pendiente'}} </td>
            </ng-container>

            <ng-container matColumnDef="estatus_aplicacion">
                <th mat-header-cell *matHeaderCellDef> FECHA DE APLICACIÓN </th>
                <td mat-cell *matCellDef="let element"> {{element.dFechaAplicacion ? (element.dFechaAplicacion | date: 'dd/MMM/yyyy') : 'Pendiente'}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_preliminar">
                <th mat-header-cell *matHeaderCellDef> FECHA PRELIMINAR </th>
                <td mat-cell *matCellDef="let element"> {{element.dFechaPreliminar ? (element.dFechaPreliminar | date: 'dd/MMM/yyyy') : 'Pendiente'}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_publicacion">
                <th mat-header-cell *matHeaderCellDef> FECHA PUBLICACIÓN </th>
                <td mat-cell *matCellDef="let element"> {{element.dFechaPublicacion ? (element.dFechaPublicacion | date: 'dd/MMM/yyyy') : 'Pendiente'}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_creacionR">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> CREACIÓN DE ESTUDIO <br> REGISTRO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.dFechaSolicitud ? (element.dFechaSolicitud | date: 'dd/MMM/yyyy') : 'Pendiente'}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_validacionR">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> VALIDACIÓN DE ESTUDIO <br> REGISTRO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.fValidacion ? (element.fValidacion | date: 'dd/MMM/yyyy') : 'Pendiente' }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_validacionRT">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> CREACIÓN - VALIDACIÓN <br> TIEMPO TRANSCURRIDO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.dFechaSolicitud | tiempoKpisCoordinador: element.fValidacion }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_asignacionR">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> ASIGNACIÓN DE ESTUDIO <br> REGISTRO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.fasignacion ? (element.fasignacion | date: 'dd/MMM/yyyy') : 'Pendiente' }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_asignacionRT">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> VALIDACIÓN -  ASIGNACIÓN <br> TIEMPO TRANSCURRIDO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.fValidacion | tiempoKpisCoordinador: element.fasignacion }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_agendaR">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> AGENDA ESTUDIO <br> REGISTRO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.dfechahoraultAgenda ? (element.dfechahoraultAgenda | date: 'dd/MMM/yyyy') : 'Pendiente' }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_agendaRT">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> ASIGNACIÓN - AGENDA <br> TIEMPO TRANSCURRIDO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.fasignacion | tiempoKpisCoordinador: element.dfechahoraultAgenda }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_aplicacionR">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> APLICACIÓN ESTUDIO <br> REGISTRO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.dFechaAplicacion ? (element.dFechaAplicacion | date: 'dd/MMM/yyyy') : 'Pendiente' }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_aplicacionRT">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> AGENDA - APLICACIÓN <br> TIEMPO TRANSCURRIDO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.dfechahoraultAgenda | tiempoKpisCoordinador: element.dFechaAplicacion }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_archivosR">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> ARCHIVOS ESTUDIO <br> REGISTRO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.fdictamen ? (element.fdictamen | date: 'dd/MMM/yyyy') : 'Pendiente' }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_archivosRT">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> APLICACIÓN - ARCHIVOS <br> TIEMPO TRANSCURRIDO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.dFechaAplicacion | tiempoKpisCoordinador: element.fdictamen }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_publicacionR">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> PUBLICACIÓN ESTUDIO <br> REGISTRO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.dFechaPublicacion ? (element.dFechaPublicacion | date: 'dd/MMM/yyyy') : 'Pendiente' }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_publicacionRT">
                <th class="bg-light" mat-header-cell *matHeaderCellDef> ARCHIVOS - PUBLICACIÓN <br> TIEMPO TRANSCURRIDO </th>
                <td class="bg-light" mat-cell *matCellDef="let element"> {{ element.fdictamen | tiempoKpisCoordinador: element.dFechaPublicacion }} </td>
            </ng-container>

            <ng-container matColumnDef="detalles">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> VER DETALLES </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <mat-icon class="detalle-estudio-icon" (click)="detalles(element)">info</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row [ngStyle]="color(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50 ]"> </mat-paginator>
    </div>
</div>