<div class="contenedor">

    <title-tabla [titulo]="titulo"></title-tabla>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Estudios Column -->
        <ng-container matColumnDef="estudios">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ESTUDIOS </th>
            <td mat-cell *matCellDef="let element">
                <!-- {{element.estudios}} -->
                <mat-icon style="color: #2E86C1" (click)="descargar(element.token)">file_copy</mat-icon>
            </td>
        </ng-container>

        <!-- Documentos Column -->
        <ng-container matColumnDef="documentos">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> DOCUMENTOS </th>
            <td mat-cell *matCellDef="let element">
                <!-- {{element.documentos}} -->
                <mat-icon style="color: tomato" (click)="descargar(element.token2)">insert_drive_file</mat-icon>
            </td>
        </ng-container>

        <!-- Revision Column -->
        <ng-container matColumnDef="revision">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> REVISAR </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="revisar()" #revisarBtn [disabled]="!publicarSlider">
                    <mat-icon style="color: red" [ngStyle]="{'color': !publicarSlider == true ? '#FEC6C0' : 'red'}">feedback</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Publicar Column -->
        <ng-container matColumnDef="publicar">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> PUBLICAR </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle (change)="publicar()" [formControl]="publicarSlider"></mat-slide-toggle>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color': publicado == 4 ? '#FEC6C0' : 'white'}"></tr>
    </table>

</div>