table {
    width: 100%;
}

table td.mat-cell {
  text-align: center !important;
  font-size: 0.8em !important;
}

input {
  font-size: .7em;
}

::ng-deep.mat-form-field-disabled 
    { 
    color: black;
    }

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color: #28B463;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #02A446;

}