mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

.contenido,
.contenido2 {
  margin: 0 auto;
}

.contenido2 table {
  text-align: center;
}

.footer {
  width: 100%;
}

.footer button {
  margin: 8px 0;
  width: fit-content;
}
