<div class="container text-center d-flex align-items-center">

    <div class="box mt-5">
        <h3 class="mb-5">COORDINADOR</h3>
        <div class="div d-flex flex-column">
            <button mat-raised-button color="primary" [routerLink]="['/coordinador/estudios']">ESTUDIOS</button>
            <button mat-raised-button color="primary" [routerLink]="['/coordinador/empresas']">EMPRESAS</button>
            <button mat-raised-button color="primary" [routerLink]="['/coordinador/clientes']">CLIENTES</button>
            <button mat-raised-button color="primary" [routerLink]="['/coordinador/empleados']">EMPLEADOS</button>
        </div>
    </div>

</div>