mat-form-field {
  width: 100%;
}

.table-container {
  position: relative;
  height: 100%;
  max-height: 600px;
  overflow-x: scroll;
  width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #bbbbbb;
  // -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}
mat-paginator {
  width: auto;
}

// Ancho y alto de cada columna
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0 12px !important;
}

.header {
  .row {
    margin: 0;
    padding: 0;
  }
}

.header span {
  margin: 0 16px;
}

.btn-search {
  width: 20px;
}

.find mat-icon {
  font-size: 30px !important;
}

.find {
  width: auto;
}

// th.mat-header-cell {
//   text-align: center;
// }

// th, td {
//   overflow: hidden;
//   width: 200px;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

.mat-row:hover {
  background-color: rgba($color: #009688, $alpha: 0.2);
  // cursor: pointer;
}

mat-sidenav {
  width: 50%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav .title {
  margin: 4% 0;
}

mat-sidenav li {
  list-style: none;
}

mat-sidenav ul {
  margin: 0;
  padding: 0;
}

mat-button-toggle-group,
mat-slide-toggle {
  margin-left: 5%;
}

.mat-button-toggle-checked {
  background-color: #555;
  color: #fff;
}

.confirm-btn {
  background-color: #1abc9c;
  color: white;
}
.cancel-btn {
  background-color: tomato;
  color: white;
}

mat-icon {
  color: #060a46;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-table-sticky {
  background-color: rgb(235, 235, 235);
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e8e8e8;
}
.mat-table-sticky:nth-child(2) {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

table th {
  min-width: 100px;
}
