<app-title titulo="ESTUDIOS"></app-title>
<div class="container">
    <div class="header">
        <span>Búsqueda por periodo</span>
        <div class="row col-12">
            <!-- ultimo mes -->
            <div class="form-group col-3">

                <mat-form-field>
                    <mat-label>Último mes</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Fecha inicio -->
            <div class="form-group col-3">
                <mat-form-field>
                    <input matInput [matDatepicker]="fechaInicio" placeholder="Fecha de inicio">
                    <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                    <mat-datepicker #fechaInicio></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- Fecha termino -->
            <div class="form-group col-3">
                <mat-form-field>
                    <input matInput [matDatepicker]="fechaFin" placeholder="Fecha de termino">
                    <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                    <mat-datepicker #fechaFin></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="form-group col-3">
                <button mat-icon-button color="primary" [disableRipple]="true" class="find">
                    <mat-icon >find_in_page</mat-icon>
                </button>
            </div>
        </div>

        <span>Solicitudes de estudios</span>
        <div class="row col-12">
            <!-- nombre encuestado -->
            <div class="form-group col-4">
                <mat-form-field class="nombre-encuestado">
                    <input matInput placeholder="Nombre del encuestado" value="">
                </mat-form-field>
            </div>

            <!-- nombre solicitante -->
            <div class="form-group col-4">
                <mat-form-field class="nombre-solicitante">
                    <mat-label>Nombre del solicitante</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-4 align-right">
                <button mat-raised-button color="primary" [routerLink]="['/ejecutivo/solicitar-estudio']" > 
                    SOLICITAR ESTUDIO 
                </button>
            </div>
        </div>
    </div>

    <!-- TABLA -->
    <div class="table-container mat-elevation-z15 mt-4">

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="folio">
                <th mat-header-cell *matHeaderCellDef> FOLIO </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="estudio">
                <th mat-header-cell *matHeaderCellDef> ESTUDIO </th>
                <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> ESTADO </th>
                <td mat-cell *matCellDef="let element"> {{element.avatar}} </td>
            </ng-container>

            <ng-container matColumnDef="municipio">
                <th mat-header-cell *matHeaderCellDef> MUNICIPIO </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_solicitud">
                <th mat-header-cell *matHeaderCellDef> FECHA SOLICITUD </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_solicitud}} </td>
            </ng-container>

            <ng-container matColumnDef="hora_solicitud">
                <th mat-header-cell *matHeaderCellDef> HORA SOLICITUD </th>
                <td mat-cell *matCellDef="let element"> {{element.hora_solicitud}} </td>
            </ng-container>

            <ng-container matColumnDef="agendado">
                <th mat-header-cell *matHeaderCellDef> AGENDADO </th>
                <td mat-cell *matCellDef="let element"> {{element.agendado}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_agenda">
                <th mat-header-cell *matHeaderCellDef> FECHA AGENDADO </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_agendado}} </td>
            </ng-container>

            <ng-container matColumnDef="preliminar">
                <th mat-header-cell *matHeaderCellDef> PRELIMINAR </th>
                <td mat-cell *matCellDef="let element"> {{element.preliminar}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_aplicacion">
                <th mat-header-cell *matHeaderCellDef> FECHA APLICACION </th>
                <td mat-cell *matCellDef="let element"> {{element.fehca_aplicacion}} </td>
            </ng-container>

            <ng-container matColumnDef="estatus">
                <th mat-header-cell *matHeaderCellDef> ESTATUS </th>
                <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
            </ng-container>

            <ng-container matColumnDef="publicacion">
                <th mat-header-cell *matHeaderCellDef> PUBLICACION </th>
                <td mat-cell *matCellDef="let element"> {{element.publicacion}} </td>
            </ng-container>

            <ng-container matColumnDef="dictamen">
                <th mat-header-cell *matHeaderCellDef> DICTAMEN </th>
                <td mat-cell *matCellDef="let element"> {{element.dictamen}} </td>
            </ng-container>

            <ng-container matColumnDef="descarga">
                <th mat-header-cell *matHeaderCellDef> DESCARGA </th>
                <td mat-cell *matCellDef="let element"> {{element.descarga}} </td>
            </ng-container>

            <ng-container matColumnDef="solicitar_calidad">
                <th mat-header-cell *matHeaderCellDef> SOLICITAR CALIDAD </th>
                <td mat-cell *matCellDef="let element"> {{element.solicitar_calidad}} </td>
            </ng-container>

            <ng-container matColumnDef="solicitud_calidad">
                <th mat-header-cell *matHeaderCellDef> SOLICITUD CALIDAD </th>
                <td mat-cell *matCellDef="let element"> {{element.solicitud_calidad}} </td>
            </ng-container>

            <ng-container matColumnDef="certificado_calidad">
                <th mat-header-cell *matHeaderCellDef> CERTIFICADO CALIDAD </th>
                <td mat-cell *matCellDef="let element"> {{element.certificado}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50 ]"> </mat-paginator>
</div>