<app-loading *ngIf="loader"></app-loading>

<app-title titulo="ESTUDIOS"></app-title>
<div class="container">
    <div class="header">
        <form [formGroup]="form">
            <span>Búsqueda por periodo</span>
            <div class="row col-12">

                <!-- Fecha inicio -->
                <div class="form-group col-3">
                    <mat-form-field>
                        <input matInput #fechaI [matDatepicker]="fechaInicio" formControlName="fechaInicioForm"
                            placeholder="Fecha de inicio">
                        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                        <mat-datepicker #fechaInicio disabled="false" startView="year"></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Fecha termino -->
                <div class="form-group col-3">
                    <mat-form-field>
                        <input matInput #fechaF [matDatepicker]="fechaFinal"
                            [min]="form.get('fechaInicioForm').value" formControlName="fechaFinalForm"
                            placeholder="Fecha de termino">
                        <mat-datepicker-toggle matSuffix [for]="fechaFinal"></mat-datepicker-toggle>
                        <mat-datepicker startView="year"  #fechaFinal></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-group row col-3">
                    <button mat-icon-button color="primary" (click)="filterFechas()" class="find">
                        <mat-icon>find_in_page</mat-icon>
                    </button>
                    <button mat-icon-button (click)="reload()" class="ml-2">
                        <mat-icon color="warn">replay</mat-icon>
                    </button>
                </div>
            </div>

            <div class="row col-12">
                <!-- nombre encuestado -->
                <div class="form-group col-3">
                    <mat-form-field class="nombre-encuestado">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                    </mat-form-field>
                </div>

                <div class="form-group col-3">
                    <button mat-raised-button class="btn-limpiar" (click)="clear()">Limpiar campos</button>
                </div>

                <div class="form-group col-3">
                    <button mat-raised-button class="excel-btn" (click)="exportExcel()">Exportar a Excel</button>
                </div>

                <div class="form-group col-3 text-right">
                    <button mat-raised-button color="primary" [routerLink]="['/ejecutivo/solicitar-estudio']">
                        CREAR ESTUDIO
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container mb-5">
    <!-- TABLA -->
    <div class="table-container mat-elevation-z15 mt-4">

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="sFolio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> FOLIO </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                    {{element.sFolio ? element.sFolio : element.iIdSolicitud}} 
                </td>
            </ng-container>

            <ng-container matColumnDef="sNombres">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                <td mat-cell *matCellDef="let element">
                    {{element.sNombres}} {{element.sApellidos}}
                </td>
            </ng-container>

            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CLIENTE </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Nombrecte + ' '+ element.ApellidosCte}}
                </td>
            </ng-container>

            <ng-container matColumnDef="solicitante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SOLICITANTE </th>
                <td mat-cell *matCellDef="let element">
                    {{''}}
                </td>
            </ng-container>

            <ng-container matColumnDef="analista">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ANALISTA </th>
                <td mat-cell *matCellDef="let element">
                    {{''}}
                </td>
            </ng-container>

            <ng-container matColumnDef="sUltimoAplicador">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE APLICADOR </th>
                <td mat-cell *matCellDef="let element">
                    {{element.sUltimoAplicador ? element.sUltimoAplicador : 'PENDIENTE'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="fecha_solicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA SOLICITUD </th>
                <td mat-cell *matCellDef="let element"> {{element.dFechaSolicitud | date: 'dd/MMM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="sNombreEstudio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTUDIO SOLICITADO </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.sNombreEstudio}} 
                </td>
            </ng-container>

            <ng-container matColumnDef="dFechaAplicacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA APLICACIÓN </th>
                <td mat-cell *matCellDef="let element"> {{ element.dFechaAplicacion ? (element.dFechaAplicacion | date: 'dd/MMM/yyyy') : 'PENDIENTE'}} </td>
            </ng-container>

            <ng-container matColumnDef="dFechaPreliminar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA PRELIMINAR </th>
                <td mat-cell *matCellDef="let element"> {{ element.dFechaPreliminar ? (element.dFechaPreliminar | date: 'dd/MMM/yyyy') : 'PENDIENTE'}} </td>
            </ng-container>

            <ng-container matColumnDef="dFechaPublicacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA PUBLICACIÓN </th>
                <td mat-cell *matCellDef="let element"> {{ element.dFechaPublicacion ? (element.dFechaPublicacion | date: 'dd/MMM/yyyy') : 'PENDIENTE'}} </td>
            </ng-container>

            <ng-container matColumnDef="bPublicarDictamen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTATUS DICTAMEN </th>
                <td mat-cell *matCellDef="let element"> {{element.iEstatusGeneral | estatusDictamen : element.bPublicarDictamen}} </td>
            </ng-container>
            
            <ng-container matColumnDef="comentarios">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> VER DETALLES </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <!-- {{element.sComentarios}} -->
                    <mat-icon (click)="detalles(element)">info</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row  *matRowDef="let row; columns: displayedColumns;" 
                [ngStyle]="row.iEstatusGeneral | verificarRol : row.bPublicarDictamen : row.bDeclinada"></tr>
        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50 ]"> </mat-paginator>
    </div>
</div>

<!-- </mat-sidenav-container> -->