<app-loading *ngIf="loader"></app-loading>
<div class="container-full">
    <form [formGroup]="form">
        <div class="title">
            <p class="text-center">{{idEmpleado !== null ? 'EDITAR' : 'REGISTRAR'}} EMPLEADO</p>
        </div>

        <div class="container">

            <!-- row 1 -->
            <div class="row col-12">

                <!-- <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" formControlName="usuario">
                        <mat-hint *ngIf="!form.controls.usuario.valid && form.controls.usuario.touched ">Usuario
                            requerido</mat-hint>
                    </mat-form-field>
                </div> -->

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-label>Correo</mat-label>
                        <mat-icon matSuffix>mail</mat-icon>
                        <input matInput type="email" formControlName="correoelectronico">
                        <mat-hint *ngIf="!form.controls.correoelectronico.valid && form.controls.correoelectronico.touched ">Email requerido
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="md5pass" #password>
                        <mat-hint *ngIf="!form.controls.md5pass.valid && form.controls.md5pass.touched ">Contraseña
                            requerida</mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-label>Nombre</mat-label>
                        <input matInput type="email" formControlName="nombres">
                        <mat-hint *ngIf="!form.controls.nombres.valid && form.controls.nombres.touched ">Email requerido
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-icon matSuffix>person_outline</mat-icon>
                        <mat-label>Apellidos</mat-label>
                        <input matInput type="email" formControlName="apellidos">
                        <mat-hint *ngIf="!form.controls.apellidos.valid && form.controls.apellidos.touched ">Email
                            requerido
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-label>Tipo empleado</mat-label>
                        <mat-select formControlName="iIdRol">
                            <mat-option *ngFor="let tipo of catalogoPerfiles" [value]="tipo.iIdRol">
                                {{tipo.sRol}}
                            </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="!form.controls.iIdRol.valid && form.controls.iIdRol.touched">Ejecutivo
                            requerido</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <!-- FOOTER -->
            <div class="actions col-12 mt-4 mb-4 d-flex justify-content-center">
                <div class="buttons col-5 d-flex justify-content-around">
                    <button mat-raised-button color="warn" [routerLink]="['/coordinador/empleados']">CANCELAR</button>
                    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="guardar()">{{idTipo == 1 ? 'GUARDAR': 'EDITAR'}}</button>
                </div>
            </div>
        </div>
    </form>
</div>