<div class="flex">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-icon" aria-hidden="false" (click)="drawer.toggle()">menu</mat-icon>
      <span class="ml-2">Menu</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container hasBackdrop="true" autosize>
    <mat-drawer #drawer mode="over">

      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of menuList">

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.titulo}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <ng-container *ngFor="let el of item.list">
              <mat-list-item routerLink="/{{el.link}}" routerLinkActive="active" (click)="drawer.close()">
                {{el.title}}</mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-nav-list>

        </mat-expansion-panel>
      </mat-accordion>

    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>