.container-full {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

mat-form-field {
  width: 100%;
}

.form-group {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.left {
  background-image: url("../../../assets/images/left.jpg");
  background-size: cover;
}

@media only screen and (max-width: 850px) {
  form h3 {
    font-size: 23px;
  }
}
@media only screen and (max-width: 575px) {
  .left {
    display: none;
  }
  .right {
    background-color: #ffc8bc;
    // background-size: cover;
    // background-repeat: no-repeat;
  }
}
