<app-loading *ngIf="loader"></app-loading>

<div class="container-full row">
    <div class="left col-lg-8 col-sm-6 col-xs-0">

        <p class="version">V2.2</p>

    </div>

    <div class="right col-lg-4 col-sm-6 col-xs-12 d-flex align-items-center">
        <div class="principal form-group col-12">

            <form [formGroup]="form">
                <div class="title text-center mb-5">
                    <h3>INICIAR SESIÓN</h3>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>CORREO</mat-label>
                        <input matInput formControlName="correo" />
                        <mat-hint *ngIf="form.controls.correo.invalid && form.controls.correo.touched">Correo requerido
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>CONTRASEÑA</mat-label>
                        <input matInput type="password" formControlName="md5pass" />
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <button mat-raised-button [disabled]="form.invalid" color="primary" (click)="login()">ENTRAR</button>
                </div>
            </form>

        </div>
    </div>
</div>