mat-toolbar {
  flex: 0 0 auto;
}
mat-drawer-container {
  flex: 1 1 auto;
}
// mat-expansion-panel {
//     background-color: #ccc !important;
// }

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

mat-icon {
  cursor: pointer;
}

.active {
  color: tomato;
}

// mat-expansion-panel {
//     background: #3f51b5;
// }

// .mat-expansion-panel-header-title {
//     color: whitesmoke;
// }

.perfil {
  margin-left: auto;
  font-size: 35px;
  height: auto;
  width: auto;
}

.imagen {
  background: url("../../../assets/images/gnp.png");
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin: 0 10px;
}
