<app-loading *ngIf="loader"></app-loading>
<div class="container-full">
    <form [formGroup]="form">
        <div class="title">
            <p class="text-center">{{idTipo == 2 ? 'EDITAR' : 'REGISTRAR'}} CLIENTE</p>
        </div>

        <div class="container">

            <!-- row 1 -->
            <div class="row col-12">

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="nombres">
                        <mat-hint *ngIf="!form.controls.nombres.valid && form.controls.nombres.touched ">Nombre requerido
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-icon matSuffix>person_outline</mat-icon>
                        <mat-label>Apellidos</mat-label>
                        <input matInput type="text" formControlName="apellidos">
                        <mat-hint *ngIf="!form.controls.apellidos.valid && form.controls.apellidos.touched ">Apellidos
                            requerido</mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-label>Correo</mat-label>
                        <input matInput type="email" formControlName="correoelectronico">
                        <mat-hint *ngIf="!form.controls.correoelectronico.valid && form.controls.correoelectronico.touched ">Email requerido
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="md5pass" #password>
                        <mat-hint *ngIf="!form.controls.md5pass.valid && form.controls.md5pass.touched ">Contraseña
                            requerida</mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-label>Tipo de cliente</mat-label>
                        <mat-select formControlName="iIdRol">
                            <mat-option *ngFor="let usuario of tipoUsuariosList" [value]="usuario.iIdRol">
                                {{usuario.sDescripcion}}
                            </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="!form.controls.iIdRol.valid && form.controls.iIdRol.touched ">Tipo
                            cliente requerido</mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-label>Empresa</mat-label>
                        <mat-select formControlName="iIdEmpresa">
                            <mat-option *ngFor="let empresa of listaEmpresas" [value]="empresa.iIdEmpresa">
                                {{empresa.sNombreEmpresa}}
                            </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="!form.controls.iIdEmpresa.valid && form.controls.iIdEmpresa.touched ">Empresa
                            requerida</mat-hint>

                    </mat-form-field>
                </div>

                <div class="form-group col-lg-3 col-md-4">
                    <mat-form-field>
                        <mat-label>Ejecutivo</mat-label>
                        <mat-select formControlName="idejecutivo">
                            <mat-option *ngFor="let ejecutivo of listaEjecutivos" [value]="ejecutivo.iIdEmpleado">
                                {{ejecutivo.sNombres + ' ' + ejecutivo.sApellidos}}
                            </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="!form.controls.idejecutivo.valid && form.controls.idejecutivo.touched">Ejecutivo
                            requerido</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <!-- FOOTER -->
            <div class="actions col-12 mt-4 mb-4 d-flex justify-content-center">
                <div class="buttons col-5 d-flex justify-content-around">
                    <button mat-raised-button color="warn" [routerLink]="['/coordinador/clientes']">CANCELAR</button>
                    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="guardar()" >
                        {{idTipo == 2 ? 'EDITAR' : 'GUARDAR'}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>