mat-icon {
  color: #009688;
}

mat-form-field {
  width: 100%;
}

.table-container {
  position: relative;
  height: 100%;
  max-height: 500px;
  overflow-x: scroll;
  width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #bbbbbb;
  // -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

table {
  width: 100%;
}
mat-paginator {
  width: auto;
}

// Ancho y alto de cada columna
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0 12px !important;
}

.mat-table-sticky {
  background-color: rgb(235, 235, 235);
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e8e8e8;
}
.mat-table-sticky:nth-child(2) {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
