// [type="file"] {
//     height: 0;
//     overflow: hidden;
//     width: 0;
//   }
  
//   [type="file"] + label {      
//         border: none;
//         border-radius: 5px;
//         color: #fff;
//         cursor: pointer;
//         display: inline-block;
//         font-family: 'Poppins', sans-serif;
//         font-size: inherit;
//         font-weight: 500;
//         margin-bottom: 1rem;
//         outline: none;
//         padding: .5rem 25px;
//         position: relative;
//         transition: all 0.3s;
//         vertical-align: middle;

//     &.btn-3 {
//         background-color:#45B39D ;
//         border-radius: 0;
//         overflow: hidden;
    
//     span {
//         display: inline-block;
//         height: 100%;
//         transition: all 0.3s;
//         width: 100%;
//     }
//       &:hover {
//         background-color: #117A65;    
        
//       }
//     }
// }

table {
    width: 100%;
}

.box {
    width: 100%;
    text-align: end;
    button {
        width: auto;
    }
}

// app-loading {
//     z-index: 99999;
//     border: 3px solid black;
//     width: 100%;
//     position: fixed;
//     height: 100vh;
// }

.miniForm{
    width: 100%;
    font-size: 12px;
}
.botonEspecial{
    width: auto;
    height: auto;
    font-size: 12px;
    padding-left: 0 !important;
    mat-icon{
        height: 18px;
        width: 18px;
        font-size: 18px;
        line-height: 1;
    }
}
// button mat-icon {
//     font-size: 1.2em;
//     color: #f99100 !important;
// }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.check-hint {
    font-size: 13px;
    color: #666;
}