<app-loading *ngIf="loader"></app-loading>
<div class="container">
    <div class="title">
        <p>{{idEmpresa !== null ? 'EDITAR' : 'REGISTRAR'}} EMPRESA</p>
    </div>

    <div class="row col-12">
        <div class="formg-group col-md-3">
            <mat-form-field>
                <mat-label>Nombre de la empresa</mat-label>
                <input matInput type="text" [(ngModel)]="registerEmpresa.sNombreEmpresa" [disabled]="idEmpresa" autocomplete="off">
            </mat-form-field>
        </div>

        <div class="form-group col-md-3">
            <mat-form-field>
                <mat-label>Tipo folio</mat-label>
                <mat-select [(ngModel)]="registerEmpresa.sTipoFolio" [disabled]="idEmpresa">
                    <mat-option *ngFor="let folio of dataFolio" [value]="folio.id">
                        {{folio.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group col-md-6" *ngIf="!idEmpresa">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFileLang" [(ngModel)]="reqArchivo.Archivo"
                    (change)="subirImagen($event)" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Imagen</label>
            </div>
            <img [src]="previewImg" height="150px" width="auto" *ngIf="previewImg">
        </div>

        <div class="form-group col-md-6" *ngIf="idEmpresa">
            <img [src]="imageService.viewImage(tokenImage)" height="150px" width="auto">
        </div>

    </div>

    <form [formGroup]="form" autocomplete="off" *ngIf="getEstudios.length > 0">
        <div class="w-100" formArrayName="estudios">
    
            <div class="row align-items-end col-12" *ngFor="let item of form.controls['estudios']['controls']; let i=index; let first = first"
                [formGroupName]="i">
            
                <div class="col-md-1" style="margin-bottom: 12px;">
                    <mat-checkbox color="primary"  [checked]="item.value.check" formControlName="check" ></mat-checkbox>
                </div>

                <div class="col-md-7">
                    <p class="check-hint" *ngIf="first">Estudio</p>
                    <p>{{ item.value.descripcion }}</p>
                </div>

                <div class="col-md-2">
                    <p class="check-hint" *ngIf="first">Costo de Estudio</p>
                    <mat-form-field class="miniForm">
                        <input class="text-right" type="text" matInput formControlName="costo" [disableControl]="item.value.check">
                        <mat-error>El campo es requerido</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-2">
                    <p class="check-hint" *ngIf="first">Costo de Estudio Cancelado</p>
                    <mat-form-field class="miniForm">
                        <input class="text-right" type="text" matInput formControlName="costoCancelado" [disableControl]="item.value.check">
                        <mat-error>El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
    
        </div>
    </form>


    
    <!-- FOOTER -->
    <div class="actions col-12 mt-4 mb-4 d-flex justify-content-center">
        <div class="buttons col-6 d-flex justify-content-around">
            <button mat-raised-button color="warn" [routerLink]="['/coordinador/empresas']"
                routerLinkActive="router-link-active">CANCELAR</button>
            <button *ngIf="!idEmpresa" mat-raised-button color="primary" (click)="enviar()" [disabled]="form.invalid">REGISTRAR</button>
            <button mat-raised-button color="primary" *ngIf="idEmpresa" (click)="actualizar()" [disabled]="form.invalid">ACTUALIZAR</button>
        </div>
    </div>
</div>