<div class="container">

    <div class="form-group" [formGroup]="form">
        <title-tabla titulo="APROBAR CANCELACIÓN"></title-tabla>

        <div class="row content-box-form">
            <mat-form-field class="mt-3 col-8">
                <mat-label>Tipo de cancelación</mat-label>
                <mat-select formControlName="iTipoCancelacion">
                  <mat-option *ngFor="let tipos of tiposCancelacionList" [value]="tipos.iIdTipo">
                    {{tipos.sTipoCancelacion}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="mt-3 col-4">
                <mat-label>Costo</mat-label>
                <mat-select formControlName="bcosto">
                  <mat-option value="1"> SI </mat-option>
                  <mat-option value="2"> NO </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="custom-file mt-2 col-6">
                <input type="file" class="custom-file-input" id="customFileLang" (change)="getDataArchivo($event)" lang="es">
                <label class="custom-file-label" for="customFileLang" #label>Subir evidencia</label>
            </div>

            <mat-form-field appearance="fill" class="mt-4 col-6" >
                <mat-label>Comentarios</mat-label>
                <textarea matInput rows="2" formControlName="sComentarios"></textarea>
            </mat-form-field>

        </div>

          <div class="col-12 text-center mt-3">
              <button mat-raised-button color="primary" *ngIf="loading == false" [disabled]="form.invalid" (click)="enviar()">ENVIAR</button>
              <button class="btn btn-primary" type="button" disabled *ngIf="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Procesando solicitud...
              </button>
          </div>
    </div>

</div>
